<launch>
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find flower_focus)/config/visual_inertial_rviz_config.rviz" />

	<node pkg="point_cloud_converter" name="point_cloud_converter" type="point_cloud_converter_node" >
		<remap from="points_in" to="/flower_focus/point_cloud_dense"/>
		<remap from="points2_out" to="/points" />
	</node>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.2" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="world" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="50.0" />
		
		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="points" />
	
	</node>

</launch>